# Local Development
.env
.env.local

# Build Artifacts
dist/
build/
*.pyc
__pycache__/

# Dependencies
node_modules/
venv/
.venv/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Firebase local data
.firebase/
.firebaserc # Usually safe but optional
firebase-debug.log*
firestore-debug.log*

# Mac & Windows
Desktop.ini
.DS_Store
